doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="robots", content="noindex, nofollow")
        link(rel="apple-touch-icon", sizes="180x180", href="/img/favicons/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="/img/favicons/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="/img/favicons/favicon-16x16.png")
        link(rel="manifest", href="/img/favicons/site.webmanifest")
        link(rel="mask-icon", href="/img/favicons/safari-pinned-tab.svg", color="#5bbad5")
        link(rel="shortcut icon", type="image/x-icon", href="/img/favicons/favicon.ico")
        meta(name="msapplication-TileColor", content="#da532c")
        meta(name="msapplication-config", content="/img/favicons/browserconfig.xml")
        meta(name="theme-color", content="#333333")

        link(rel="stylesheet", type="text/css" href="./css/styles.css")
        title laptop.digital testcase
    body 
        .pixelperfect
            //- img(class="hj" src="img/1920px.png", alt="alt")
            //- TODO: Pixel Perfect image
        article#preferences.preferences 
            .container.preferences__container
                .preferences__wrapper
                    h2.preferences__title Something 
                        br
                        | as a service
                    .preferences__cards
                        .preference-card
                            .preference-card__icon
                                img(src="./img/icons/icon_icon01.svg", alt="Digital identity icon")
                            .preference-card__title Digital identity 
                            .preference-card__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        .preference-card
                            .preference-card__icon
                                img(src="./img/icons/icon_icon02.svg", alt="Trust Score icon")
                            .preference-card__title Trust Score
                            .preference-card__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        .preference-card
                            .preference-card__icon
                                img(src="./img/icons/icon_icon03.svg", alt="Search engine icon")
                            .preference-card__title Search engine
                            .preference-card__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        .preference-card
                            .preference-card__icon
                                img(src="./img/icons/icon_icon04.svg", alt="User friendly icon")
                            .preference-card__title User friendly
                            .preference-card__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            //- TODO: 1,5 часа
                            //- Подготовка, создание проекта, верстка блока
            
                aside.cta
                    .container.cta__container
                        .cta__wrapper
                            .cta__title OUR
                                br
                                | LIGHTPAPER
                                span.cta__descr Team is currently working on all its documents.
                            picture.cta__picture
                                source(srcset="./img/Broshure.png" media="(min-width: 767px)")
                                img(src="./img/Broshure_mob.png", alt="Broshure image")
                            .cta__btn
                                button.btn(type='button') Download

        article#about.about
            .container.about__container
                .about__wrapper
                    h2.about__title something 
                        br
                        | search product 
                        //- TODO: 4 часа
                        //- aside + Pixel perfect + W3C editions

